# Visual studio 
.vscode/
.vs/
*.bak
*.db3
*.suo
*.u2d
*.user
*.obj
*.o
EFDCPlus_MPI_10.3.vfproj.*
EFDCPlus_MPI_11.1.vfproj.*
EFDCPlus_MPI_11.3.vfproj.*
EFDCPlus_MPI_11.4.vfproj.*
EFDCPlus_MPI_11.4.vfproj.*
EFDCPlus_MPI_11.6.vfproj.*
EFDCPlus_MPI_12.0.vfproj.*
EFDCPlus_MPI_12.1.vfproj.*

# testing & debug
\EFDC_Test_Harness\SimpleTestHarness\SimpleTestHarness
/x64_Runtimes.txt

# build directories
bin
DebugSP
ReleaseSP
ReleaseDP
MPI_SP_64
64DP_D_MPI
64SP_D_MPI
64DP_R_MPI
64SP_R_MPI
64DP_Rel_OneApi_MPI
64SP_Rel_OneApi_MPI

# build files
*.o

# executables & archives
*.x
*.exe
!redist/*.exe
*.rar

# misc
delme
delme*
fort.*
ZanderDevelopment
#output
/Backups
Backups
EFDC/#output
.vs
enc_temp_folder
*.LOG
*.TXT
*.zip
EFDC/map
EFDC/calpuv9c - Copy.f90
EFDC/Intel® VTune™ Profiler Results
GPUCache
*.yaml
NetCDFLib/x86
bin-dev
bin-edg


# CMake
build/*
!CMakeLists.txt