# Visual studio 
.vscode/
.vs/
*.bak
*.db3
*.suo
*.u2d
*.user
*.obj
*.o

# testing & debug
\EFDC_Test_Harness\SimpleTestHarness\SimpleTestHarness
/x64_Runtimes.txt

# build directories
DebugSP
ReleaseSP
ReleaseDP
build
MPI_SP_64
64DP_D_MPI
64SP_D_MPI
64DP_R_MPI
64SP_R_MPI
64DP_Rel_OneApi_MPI
64SP_Rel_OneApi_MPI

# build files
*.mod
*.o

# executables & archives
*.x
*.exe
*.rar

# misc
delme
delme*
fort.*
ZanderDevelopment
#output
/Backups
Backups
EFDC/#output
.vs
enc_temp_folder
